html,body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.menu a{
    padding: 10px;
    color:black;
}

.menu a:hover{
    background: rgb(136, 136, 136); 
    margin-bottom: 20px;
    height: 80%;
    width: 80%;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.bx-wrapper, .bx-viewport {
	height: 250px !important;
}

#text{
    color: black;
}

#total{
    margin-left:60%;
    width: 44%;
    height:100px;
    background: #8C908C;
   
}



